//Resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
}

a,
button {
  text-decoration: none;
  color: $fontPrimaryColor;
}

button {
  border: none;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

//Globals
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px 33px;
  padding: 32px 24px 50px;
  max-width: 1110px;
  margin: 0 auto;

  @include breakpoint($sm) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    font-size: 22px;
    font-weight: 600;
    color: $fontPrimaryColor;
    line-height: 32px;
    text-align: center;

    @include breakpoint($sm) {
      font-size: 30px;
    }
  }
}

.app {
  max-width: 1110px;
  margin: 0 auto;
}

//Commons
.hidden-xs {
  display: none;

  @include breakpoint($sm) {
    display: block;
  }
}

.hidden-sm {
  display: block;

  @include breakpoint($sm) {
    display: none;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 195px;
  background: rgba(1, 45, 38, 0.7);

  p {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
}

.notifications {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  background-color: $green;
  right: -6px;
}

//Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}
